Classification Project
Why are our customers churning?

Some questions I have include:

Could the month in which they signed up influence churn? i.e. if a cohort is identified by tenure, is there a cohort or cohorts who have a higher rate of churn than other cohorts? (Plot the rate of churn on a line chart where x is the tenure and y is the rate of churn (customers churned/total customers))
Are there features that indicate a higher propensity to churn? like type of internet service, type of phone service, online security and backup, senior citizens, paying more than x% of customers with the same services, etc.?
Is there a price threshold for specific services where the likelihood of churn increases once price for those services goes past that point? If so, what is that point for what service(s)?
If we looked at churn rate for month-to-month customers after the 12th month and that of 1-year contract customers after the 12th month, are those rates comparable?

### Deliverables:

I will also need a report (ipynb) answering the question, "Why are our customers churning?" I want to see the analysis you did to answer my questions and lead to your findings. Please clearly call out the questions and answers you are analyzing. E.g. If you find that month-to-month customers churn more, I won't be surprised, but I am not getting rid of that plan. The fact that they churn is not because they can, it's because they can and they are motivated to do so. I want some insight into why they are motivated to do so. I realize you will not be able to do a full causal experiment, but I hope to see some solid evidence of your conclusions.

I will need you to deliver to me a csv with the customer_id, probability of churn, and the prediction of churn (1=churn, 0=not_churn). I would also like a single goolgle slide that illustrates how your model works, including the features being used, so that I can deliver this to the SLT when they come with questions about how these values were derived. Please make sure you include how likely your model is to give a high probability of churn when churn doesn't occur, to give a low probability of churn when churn occurs, and to accurately predict churn.

Finally, our development team will need a .py file that will take in a new dataset, (in the exact same form of the one you acquired from telco_churn.customers) and perform all the transformations necessary to run the model you have developed on this new dataset to provide probabilities and predictions.

Specification
Detailed instructions for each section are below.

In general, make sure you document your work. You don't need to explain what every line of code is doing, but you should explain what and why you are doing. For example, if you drop a feature from the dataset, you should explain why you decided to do so, or why that is a reasonable thing to do. If you transform the data in a column, you should explain why you are making that transformation.

In addition, you should not present numers in isolation. If your code outputs a number, be sure you give some context to the number.

### Specific Deliverables:

- a jupyter notebook where your work takes place
- a csv file that predicts churn for each customer
- a python script that prepares data such that it can be fed into your model
- a google slide summarizing your model
- a README.md file that contains a link to your google slides presentation, and instructions for how to use your python script(s)

# Acquisition
Get the data from the customers table from the telco_churn database on the codeup data science database server.

You may wish to join some tables as part of your query.
This data should end up in a pandas data frame.

In [12]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn import tree

import graphviz
from graphviz import Graph

from telco_prepare import peekatdata

import env

In [2]:
def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

def get_telco_data():
    return pd.read_sql('SELECT c.*, ct.contract_type, ist.internet_service_type, pt.payment_type\
    FROM customers as c\
    JOIN contract_types as ct USING (contract_type_id)\
    JOIN internet_service_types as ist USING (internet_service_type_id)\
    JOIN payment_types as pt USING (payment_type_id);', get_connection('telco_churn'))

In [3]:
df = get_telco_data()
df.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,...,streaming_movies,contract_type_id,paperless_billing,payment_type_id,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,0003-MKNFE,Male,0,No,No,9,Yes,Yes,1,No,...,Yes,1,No,2,59.9,542.4,No,Month-to-month,DSL,Mailed check
1,0013-MHZWF,Female,0,No,Yes,9,Yes,No,1,No,...,Yes,1,Yes,4,69.4,571.45,No,Month-to-month,DSL,Credit card (automatic)
2,0015-UOCOJ,Female,1,No,No,7,Yes,No,1,Yes,...,No,1,Yes,1,48.2,340.35,No,Month-to-month,DSL,Electronic check
3,0023-HGHWL,Male,1,No,No,1,No,No phone service,1,No,...,No,1,Yes,1,25.1,25.1,Yes,Month-to-month,DSL,Electronic check
4,0032-PGELS,Female,0,Yes,Yes,1,No,No phone service,1,Yes,...,No,1,No,3,30.5,30.5,Yes,Month-to-month,DSL,Bank transfer (automatic)

Write a function, peekatdata(dataframe), that takes a dataframe as input and computes and returns the following:

- creates dataframe object head_df (df of the first 5 rows) and prints contents to screen
- creates dataframe object tail_df (df of the last 5 rows) and prints contents to screen
- creates tuple object shape_tuple (tuple of (nrows, ncols)) and prints tuple to screen
- creates dataframe object describe_df (summary statistics of all numeric variables) and prints contents to screen.
- prints to screen the information about a DataFrame including the index dtype and column dtypes, non-null values and memory usage.

In [4]:
# def peekatdata(dataframe):
    
#     print('df head:')
#     print(dataframe.head())
    
#     print('df tail:')
#     print(dataframe.tail())
    
#     print('df shape:')
#     print(dataframe.shape)
    
#     print('df described:')
#     print(dataframe.describe())
    

# #     index_dtype = 
# #     return index_dtype

#     print('df types:')
#     print(dataframe.dtypes)
    
# peekatdata(df)

In [5]:
# def df_head(dataframe):
    
# #     print('df head:')
#     return dataframe.head()

# def df_tail(dataframe):    
# #     print('df tail:')
#     return dataframe.tail()
    
# def df_shape(dataframe):
# #     print('df shape:')
#     return dataframe.shape

# def df_describe(dataframe):
# #     print('df described:')
#     return dataframe.describe()
    

# # #     index_dtype = 
# # #     return index_dtype

# def df_types(dataframe):
# #     print('df types:')
#     return dataframe.dtypes

# def peekatdata(dataframe):
#     peekatda = df\
#         .pipe(df_head)\
#         .pipe(df_tail)\
#         .pipe(df_describe)\
#         .pipe(df_types)
# #         .pipe(df_shape)\
        
#     return peekatda

In [6]:
from telco_prepare import df_head

In [7]:
df_head(df)

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,...,streaming_movies,contract_type_id,paperless_billing,payment_type_id,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,0003-MKNFE,Male,0,No,No,9,Yes,Yes,1,No,...,Yes,1,No,2,59.9,542.4,No,Month-to-month,DSL,Mailed check
1,0013-MHZWF,Female,0,No,Yes,9,Yes,No,1,No,...,Yes,1,Yes,4,69.4,571.45,No,Month-to-month,DSL,Credit card (automatic)
2,0015-UOCOJ,Female,1,No,No,7,Yes,No,1,Yes,...,No,1,Yes,1,48.2,340.35,No,Month-to-month,DSL,Electronic check
3,0023-HGHWL,Male,1,No,No,1,No,No phone service,1,No,...,No,1,Yes,1,25.1,25.1,Yes,Month-to-month,DSL,Electronic check
4,0032-PGELS,Female,0,Yes,Yes,1,No,No phone service,1,Yes,...,No,1,No,3,30.5,30.5,Yes,Month-to-month,DSL,Bank transfer (automatic)

In [8]:
from telco_prepare import df_tail
df_tail(df)

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,...,streaming_movies,contract_type_id,paperless_billing,payment_type_id,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
7038,9950-MTGYX,Male,0,Yes,Yes,28,Yes,No,3,No internet service,...,No internet service,3,Yes,4,20.30,487.95,No,Two year,None,Credit card (automatic)
7039,9953-ZMKSM,Male,0,No,No,63,Yes,Yes,3,No internet service,...,No internet service,3,No,2,25.25,1559.3,No,Two year,None,Mailed check
7040,9964-WBQDJ,Female,0,Yes,No,71,Yes,Yes,3,No internet service,...,No internet service,3,Yes,4,24.40,1725.4,No,Two year,None,Credit card (automatic)
7041,9972-EWRJS,Female,0,Yes,Yes,67,Yes,No,3,No internet service,...,No internet service,3,Yes,3,19.25,1372.9,No,Two year,None,Bank transfer (automatic)
7042,9975-GPKZU,Male,0,Yes,Yes,46,Yes,No,3,No internet service,...,No internet service,3,No,4,19.75,856.5,No,Two year,None,Credit card (automatic)

In [9]:
from telco_prepare import df_shape
df_shape(df)

(7043, 24)

In [10]:
from telco_prepare import df_describe
df_describe(df)

,senior_citizen,tenure,internet_service_type_id,contract_type_id,payment_type_id,monthly_charges
count,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
mean,0.162147,32.371149,1.872923,1.690473,2.315633,64.761692
std,0.368612,24.559481,0.737796,0.833755,1.148907,30.090047
min,0.000000,0.000000,1.000000,1.000000,1.000000,18.250000
25%,0.000000,9.000000,1.000000,1.000000,1.000000,35.500000
50%,0.000000,29.000000,2.000000,1.000000,2.000000,70.350000
75%,0.000000,55.000000,2.000000,2.000000,3.000000,89.850000
max,1.000000,72.000000,3.000000,3.000000,4.000000,118.750000

In [14]:
from telco_prepare import df_types
df_types(df)

customer_id                  object
gender                       object
senior_citizen                int64
partner                      object
dependents                   object
tenure                        int64
phone_service                object
multiple_lines               object
internet_service_type_id      int64
online_security              object
online_backup                object
device_protection            object
tech_support                 object
streaming_tv                 object
streaming_movies             object
contract_type_id              int64
paperless_billing            object
payment_type_id               int64
monthly_charges             float64
total_charges                object
churn                        object
contract_type                object
internet_service_type        object
payment_type                 object
dtype: object

In [13]:
peekatdata(df)

,senior_citizen,tenure,internet_service_type_id,contract_type_id,payment_type_id,monthly_charges
count,5.000000,5.00000,5.0,5.0,5.00000,5.000000
mean,0.400000,5.40000,1.0,1.0,2.20000,46.620000
std,0.547723,4.09878,0.0,0.0,1.30384,18.846405
min,0.000000,1.00000,1.0,1.0,1.00000,25.100000
25%,0.000000,1.00000,1.0,1.0,1.00000,30.500000
50%,0.000000,7.00000,1.0,1.0,2.00000,48.200000
75%,1.000000,9.00000,1.0,1.0,3.00000,59.900000
max,1.000000,9.00000,1.0,1.0,4.00000,69.400000

# Data Prep

Write a function, df_value_counts(dataframe), that takes a dataframe as input and computes and returns the values by frequency for each column. The function should decide whether or not to bin the data for the value counts.

In [ ]:
# Need to update with decision to bin.  Function below will give us the features with more than 10 different options, which will be the features we bin.
def df_value_counts(dataframe):
    df_cols = dataframe.columns
    for col in df_cols:
        print('-----%s-----' %col)
        print(df[col].value_counts())
        
df_value_counts(df)

In [ ]:
def df_value_counts_bin(dataframe):
    df_cols = dataframe.columns
    features_to_bin = []
    for col in df_cols:
#         print('-----%s-----' %col)
#         print(df[col].value_counts())
        if df[col].value_counts().count() > 10:
            features_to_bin.append(col)
        print(features_to_bin[-1:])
        
df_value_counts_bin(df)

### Handle Missing Values

Explore the data and see if there are any missing values.

Write a function that accepts a dataframe and returns the names of the columns that have missing values, and the percent of missing values in each column that has missing values.

In [ ]:
def missing_values(dataframe):
    df_cols = df.columns
    col_name = []
    null_values = []
    null_percents = []
    for col in df_cols:
        value = df[col].isnull().sum()
        null_percent = value / df[col].count()
        col_name.append(col)
        null_values.append(value)
        null_percents.append(null_percent)

    null_tuples = list(zip(col_name, null_values, null_percents))
    null_df = pd.DataFrame(null_tuples, columns = ['Feature', 'Null_Count', 'Null_Percent'])

    print(type(null_df))
    print(null_df)  
    
missing_values(df)

In [ ]:
missing_values(df)

The function below will sort each column and output the head and tail for that column.  This will let us see if there's something fishy about any of data in each column.

In [ ]:
def sort_col_val(dataframe):
    df_cols = dataframe.columns
    for col in df_cols:
        print('Sorted by ' + str(col) + ':')
        print('Head:')
        print(df[[col]].sort_values(by=[col]).head().T)
        print(' ')
        print('Tail: ')
        print(df[[col]].sort_values(by=[col]).tail().T)
        print('-----')

In [ ]:
sort_col_val(df)

Looking at the above output, something seems odd about the lower end of total_charges.  Below, I am checking for values that are whitespace, or ' '.  We have 11 rows without an actual amount in total_charges.

In [ ]:
df['total_charges'].replace(' ', (df['monthly_charges'] * df['tenure']), inplace=True)

In [ ]:
df.loc[(df['total_charges'] == ' ')].T

We are now showing no empty cells.  Let's do a value_count to if anything strange is in our list now.  They are showing as 0.0 now.  Let's convert the total_charges column to a float and then drop these rows.

In [ ]:
df_value_counts(df)

In [ ]:
df['total_charges'] = df['total_charges'].convert_objects(convert_numeric=True)
df.dtypes

Success!  Total_charges is now a float.  Let's drop the rows with 0.0.

In [ ]:
df = df.drop(df[df.total_charges == 0].index)

In [ ]:
df.sort_values(by=['total_charges']).head().T

Let's create a feature that calculates estimated total_charges based on tenure * monthly_charges and gives us a percentage vs. the actual total_charges.  This will be used to check for data integrity issues.

In [ ]:
df['percent_var_tc_from_act_tc'] = (df['monthly_charges'] * df['tenure']) / df['total_charges']

In [ ]:
df.describe()

To make things a little clearer, let's reorganize the columns so the new columns created are closer to the columns they represent/interact with.

Document your takeaways. For each variable:

- should you remove the observations with a missing value for that variable?
- should you remove the variable altogether?
- is missing equivalent to 0 (or some other constant value) in the specific case of this variable?
- should you replace the missing values with a value it is most likely to represent (e.g. Are the missing values a - result of data integrity issues and should be replaced by the most likely value?)
- Handle the missing values in the way you recommended above.

Transform churn such that "yes" = 1 and "no" = 0

In [ ]:
def encode_churn(df):
    encoder = LabelEncoder()
    encoder.fit(df.churn)
    return df.assign(churn_encoded = encoder.transform(df.churn))

In [ ]:
encode_churn(df)

Compute a new feature, tenure_year, that is a result of translating tenure from months to years.

In [15]:
def create_tenure_year(df):
    df[['tenure_year']] = df[['tenure']] / 12
    return df

In [16]:
create_tenure_year(df)

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,...,contract_type_id,paperless_billing,payment_type_id,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type,tenure_year
0,0003-MKNFE,Male,0,No,No,9,Yes,Yes,1,No,...,1,No,2,59.90,542.4,No,Month-to-month,DSL,Mailed check,0.750000
1,0013-MHZWF,Female,0,No,Yes,9,Yes,No,1,No,...,1,Yes,4,69.40,571.45,No,Month-to-month,DSL,Credit card (automatic),0.750000
2,0015-UOCOJ,Female,1,No,No,7,Yes,No,1,Yes,...,1,Yes,1,48.20,340.35,No,Month-to-month,DSL,Electronic check,0.583333
3,0023-HGHWL,Male,1,No,No,1,No,No phone service,1,No,...,1,Yes,1,25.10,25.1,Yes,Month-to-month,DSL,Electronic check,0.083333
4,0032-PGELS,Female,0,Yes,Yes,1,No,No phone service,1,Yes,...,1,No,3,30.50,30.5,Yes,Month-to-month,DSL,Bank transfer (automatic),0.083333
5,0067-DKWBL,Male,1,No,No,2,Yes,No,1,Yes,...,1,Yes,1,49.25,91.1,Yes,Month-to-month,DSL,Electronic check,0.166667
6,0076-LVEPS,Male,0,No,Yes,29,No,No phone service,1,Yes,...,1,Yes,2,45.00,1242.45,No,Month-to-month,DSL,Mailed check,2.416667
7,0082-LDZUE,Male,0,No,No,1,Yes,No,1,No,...,1,Yes,2,44.30,44.3,No,Month-to-month,DSL,Mailed check,0.083333
8,0096-BXERS,Female,0,Yes,No,6,Yes,Yes,1,No,...,1,No,1,50.35,314.55,No,Month-to-month,DSL,Electronic check,0.500000
9,0096-FCPUF,Male,0,No,No,30,Yes,Yes,1,Yes,...,1,Yes,2,64.50,1888.45,No,Month-to-month,DSL,Mailed check,2.500000
10,0106-GHRQR,Male,0,No,No,16,Yes,Yes,1,No,...,1,Yes,3,71.40,1212.1,No,Month-to-month,DSL,Bank transfer (automatic),1.333333
11,0117-LFRMW,Male,0,Yes,Yes,37,No,No phone service,1,Yes,...,1,No,3,40.20,1448.8,Yes,Month-to-month,DSL,Bank transfer (automatic),3.083333
12,0128-MKWSG,Female,0,No,Yes,26,No,No phone service,1,Yes,...,1,No,2,45.80,1147,No,Month-to-month,DSL,Mailed check,2.166667
13,0156-FVPTA,Male,0,Yes,No,22,Yes,No,1,Yes,...,1,Yes,1,54.20,1152.7,Yes,Month-to-month,DSL,Electronic check,1.833333
14,0191-ZHSKZ,Male,1,No,No,30,Yes,No,1,Yes,...,1,Yes,1,74.75,2111.3,No,Month-to-month,DSL,Electronic check,2.500000
15,0212-ISBBF,Female,0,No,No,22,No,No phone service,1,No,...,1,Yes,1,50.35,1098.85,No,Month-to-month,DSL,Electronic check,1.833333
16,0222-CNVPT,Male,1,No,No,52,No,No phone service,1,Yes,...,1,Yes,4,48.80,2555.05,No,Month-to-month,DSL,Credit card (automatic),4.333333
17,0224-HJAPT,Male,0,No,No,5,Yes,Yes,1,No,...,1,No,1,47.15,223.15,Yes,Month-to-month,DSL,Electronic check,0.416667
18,0224-RLWWD,Female,1,No,No,2,Yes,No,1,No,...,1,Yes,1,44.30,89.3,No,Month-to-month,DSL,Electronic check,0.166667
19,0228-MAUWC,Male,0,No,No,19,Yes,Yes,1,No,...,1,No,1,59.55,1144.6,No,Month-to-month,DSL,Electronic check,1.583333
20,0248-IPDFW,Female,0,No,No,1,Yes,Yes,1,No,...,1,Yes,1,50.10,50.1,No,Month-to-month,DSL,Electronic check,0.083333
21,0257-KXZGU,Female,0,Yes,Yes,32,Yes,Yes,1,No,...,1,No,3,62.45,2045.55,No,Month-to-month,DSL,Bank transfer (automatic),2.666667
22,0260-ZDLGK,Female,0,No,Yes,9,Yes,No,1,No,...,1,Yes,2,72.90,651.4,Yes,Month-to-month,DSL,Mailed check,0.750000
23,0274-JKUJR,Male,0,Yes,Yes,7,No,No phone service,1,Yes,...,1,No,2,58.85,465.7,No,Month-to-month,DSL,Mailed check,0.583333
24,0277-BKSQP,Male,0,Yes,Yes,8,Yes,No,1,No,...,1,Yes,1,54.40,475.1,No,Month-to-month,DSL,Electronic check,0.666667
25,0282-NVSJS,Female,1,Yes,Yes,12,No,No phone service,1,No,...,1,Yes,2,29.30,355.9,No,Month-to-month,DSL,Mailed check,1.000000
26,0285-INHLN,Male,0,Yes,Yes,27,Yes,No,1,Yes,...,1,Yes,4,54.75,1510.3,No,Month-to-month,DSL,Credit card (automatic),2.250000
27,0289-IVARM,Female,0,No,No,35,Yes,No,1,Yes,...,1,No,1,60.55,1982.6,No,Month-to-month,DSL,Electronic check,2.916667
28,0292-WEGCH,Female,0,Yes,Yes,54,Yes,Yes,1,No,...,1,Yes,1,86.20,4524.05,No,Month-to-month,DSL,Electronic check,4.500000
29,0295-QVKPB,Male,0,No,No,5,Yes,No,1,No,...,1,Yes,4,63.95,318.1,No,Month-to-month,DSL,Credit card (automatic),0.416667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7013,9537-JALFH,Male,0,Yes,Yes,69,Yes,No,3,No internet service,...,3,No,3,19.90,1356.7,No,Two year,None,Bank transfer (automatic),5.750000
7014,9548-LERKT,Male,0,Yes,No,24,Yes,No,3,No internet service,...,3,No,2,19.75,483.15,No,Two year,None,Mailed check,2.000000
7015,9565-AXSMR,Male,0,Yes,Yes,52,Yes,No,3,No internet service,...,3,No,2,19.20,1054.75,No,Two year,None,Mailed check,4.333333
7016,9574-BOSMD,Male,0,Yes,Yes,68,Yes,Yes,3,No internet service,...,3,No,3,25.40,1620.2,No,Two year,None,Bank transfer (automatic),5.666667
7017,9585-KKMFD,Male,0,Yes,Yes,41,Yes,No,3,No internet service,...,3,Yes,2,20.00,879.8,No,Two year,None,Mailed check,3.416667
7018,9588-YRFHY,Male,0,No,No,49,Yes,No,3,No internet service,...,3,Yes,4,19.90,1022.6,No,Two year,None,Credit card (automatic),4.083333
7019,9593-CVZKR,Female,0,Yes,Yes,56,Yes,Yes,3,No internet service,...,3,Yes,2,24.45,1385.85,No,Two year,None,Mailed check,4.666667
7020,9624-EGDEQ,Female,0,No,No,37,Yes,No,3,No internet service,...,3,No,2,19.80,813.3,No,Two year,None,Mailed check,3.083333
7021,9625-RZFUK,Male,0,Yes,Yes,63,Yes,No,3,No internet service,...,3,No,2,19.70,1275.85,No,Two year,None,Mailed check,5.250000
7022,9631-RXVJM,Male,0,No,No,35,Yes,No,3,No internet service,...,3,No,2,19.25,677.9,No,Two year,None,Mailed check,2.916667
7023,9646-NMHXE,Male,0,Yes,No,47,Yes,No,3,No internet service,...,3,No,2,19.65,973.1,No,Two year,None,Mailed check,3.916667
7024,9648-BCHKM,Female,0,Yes,Yes,18,Yes,Yes,3,No internet service,...,3,Yes,4,24.65,471.35,No,Two year,None,Credit card (automatic),1.500000
7025,9650-VBUOG,Male,0,Yes,Yes,38,Yes,Yes,3,No internet service,...,3,No,4,25.05,963.95,No,Two year,None,Credit card (automatic),3.166667
7026,9661-JALZV,Female,0,No,No,58,Yes,Yes,3,No internet service,...,3,Yes,4,24.70,1519,No,Two year,None,Credit card (automatic),4.833333
7027,9668-PUGNU,Male,0,Yes,No,71,Yes,Yes,3,No internet service,...,3,Yes,1,24.50,1816.2,No,Two year,None,Electronic check,5.916667
7028,9710-NJERN,Female,0,No,No,39,Yes,No,3,No internet service,...,3,No,2,20.15,826,No,Two year,None,Mailed check,3.250000
7029,9717-IOAAF,Male,0,No,Yes,27,Yes,Yes,3,No internet service,...,3,Yes,4,25.85,788.55,No,Two year,None,Credit card (automatic),2.250000
7030,9764-REAFF,Female,0,Yes,No,59,Yes,No,3,No internet service,...,3,No,3,18.40,1057.85,No,Two year,None,Bank transfer (automatic),4.916667
7031,9798-OPFEM,Female,0,No,No,46,Yes,No,3,No internet service,...,3,Yes,1,21.10,937.1,No,Two year,None,Electronic check,3.833333
7032,9800-OUIGR,Male,0,Yes,Yes,66,Yes,No,3,No internet service,...,3,No,4,20.00,1374.2,No,Two year,None,Credit card (automatic),5.500000
7033,9814-AOUDH,Male,0,No,No,53,Yes,No,3,No internet service,...,3,No,4,19.50,1050.5,No,Two year,None,Credit card (automatic),4.416667
7034,9838-BFCQT,Male,0,Yes,Yes,72,Yes,Yes,3,No internet service,...,3,No,2,26.10,1851.45,No,Two year,None,Mailed check,6.000000
7035,9916-AYHTC,Male,0,No,No,48,Yes,No,3,No internet service,...,3,No,4,19.85,916,No,Two year,None,Credit card (automatic),4.000000
7036,9938-PRCVK,Female,0,Yes,Yes,41,Yes,No,3,No internet service,...,3,No,3,19.70,804.25,No,Two year,None,Bank transfer (automatic),3.416667
7037,9945-PSVIP,Female,0,Yes,Yes,25,Yes,No,3,No internet service,...,3,Yes,2,18.70,383.65,No,Two year,None,Mailed check,2.083333
7038,9950-MTGYX,Male,0,Yes,Yes,28,Yes,No,3,No internet service,...,3,Yes,4,20.30,487.95,No,Two year,None,Credit card (automatic),2.333333
7039,9953-ZMKSM,Male,0,No,No,63,Yes,Yes,3,No internet service,...,3,No,2,25.25,1559.3,No,Two year,None,Mailed check,5.250000
7040,9964-WBQDJ,Female,0,Yes,No,71,Yes,Yes,3,No internet service,...,3,Yes,4,24.40,1725.4,No,Two year,None,Credit card (automatic),5.916667
7041,9972-EWRJS,Female,0,Yes,Yes,67,Yes,No,3,No internet service,...,3,Yes,3,19.25,1372.9,No,Two year,None,Bank transfer (automatic),5.583333
7042,9975-GPKZU,Male,0,Yes,Yes,46,Yes,No,3,No internet service,...,3,No,4,19.75,856.5,No,Two year,None,Credit card (automatic),3.833333

Figure out a way to capture the information contained in phone_service and multiple_lines into a single variable of dtype int. Write a function that will transform the data and place in a new column named phone_id.

Figure out a way to capture the information contained in dependents and partner into a single variable of dtype int. Transform the data and place in a new column household_type_id.

Figure out a way to capture the information contained in streaming_tv and streaming_movies into a single variable of dtype int. Transform the data and place in a new column streaming_services.

Figure out a way to capture the information contained in online_security and online_backup into a single variable of dtype int. Transform the data and place in a new column online_security_backup.

Split the data into train (70%) & test (30%) samples.

Variable Encoding: encode the values in each non-numeric feature such that they are numeric.

Numeric Scaling: scale the monthly_charges and total_charges data. Make sure that the parameters for scaling are learned from the training data set.

# Data Exploration
Could the month in which they signed up influence churn? i.e. if a cohort is identified by tenure, is there a cohort or cohorts who have a higher rate of churn than other cohorts? (Plot the rate of churn on a line chart where x is the tenure and y is the rate of churn (customers churned/total customers)).

Are there features that indicate a higher propensity to churn? like type of internet service, type of phone service, online security and backup, senior citizens, paying more than x% of customers with the same services, etc.?

Is there a price threshold for specific services where the likelihood of churn increases once price for those services goes past that point? If so, what is that point for what service(s)?

If we looked at churn rate for month-to-month customers after the 12th month and that of 1-year contract customers after the 12th month, are those rates comparable?

Controlling for services (phone_id, internet_service_type_id, online_security_backup, device_protection, tech_support, and contract_type_id), is the mean monthly_charges of those who have churned significantly different from that of those who have not churned? (Use a t-test to answer this.)

How much of monthly_charges can be explained by internet_service_type? (hint: correlation test). State your hypotheses and your conclusion clearly.

How much of monthly_charges can be explained by internet_service_type + phone service type (0, 1, or multiple lines). State your hypotheses and your conclusion clearly.

Create visualizations exploring the interactions of variables (independent with independent and independent with dependent). The goal is to identify features that are related to churn, identify any data integrity issues, understand 'how the data works'. For example, we may find that all who have online services also have device protection. In that case, we don't need both of those. (The visualizations done in your analysis for questions 1-5 count towards the requirements below)

Each independent variable (except for customer_id) should be visualized in at least two plots, and at least 1 of those compares the independent variable with the dependent variable.

For each plot where x and y are independent variables, add a third dimension (where possible), of churn represented by color.

Use subplots when plotting the same type of chart but with different variables.

Adjust the axes as necessary to extract information from the visualizations (adjusting the x & y limits, setting the scale where needed, etc.)

Add annotations to at least 5 plots with a key takeaway from that plot.

Use plots from matplotlib, pandas and seaborn.

Use each of the following:

sns.heatmap
pd.crosstab (along with sns.heatmap)
pd.scatter_matrix
sns.barplot
sns.swarmplot
sns.pairplot
sns.jointplot
sns.relplot or plt.scatter
sns.distplot or plt.hist
sns.boxplot
plt.plot
Use at least one more type of plot that is not included in the list above.

What can you say about each variable's relationship to churn, based on your initial exploration? If there appears to be some sort of interaction or correlation, assume there is no causal relationship and brainstorm (and document) ideas on reasons there could be correlation.

Summarize your conclusions, provide clear answers to the specific questions, and summarize any takeaways/action plan from the work above.

# Modeling
Feature Selection: Are there any variables that seem to provide limited to no additional information? If so, remove them.

Train (fit, transform, evaluate) multiple different models, varying the model type and your meta-parameters.

Compare evaluation metrics across all the models, and select the best performing model.

Test the final model (transform, evaluate) on your out-of-sample data (the testing data set). Summarize the performance. Interpret your results.