Classification Project
Why are our customers churning?

Some questions I have include:

Could the month in which they signed up influence churn? i.e. if a cohort is identified by tenure, is there a cohort or cohorts who have a higher rate of churn than other cohorts? (Plot the rate of churn on a line chart where x is the tenure and y is the rate of churn (customers churned/total customers))
Are there features that indicate a higher propensity to churn? like type of internet service, type of phone service, online security and backup, senior citizens, paying more than x% of customers with the same services, etc.?
Is there a price threshold for specific services where the likelihood of churn increases once price for those services goes past that point? If so, what is that point for what service(s)?
If we looked at churn rate for month-to-month customers after the 12th month and that of 1-year contract customers after the 12th month, are those rates comparable?

### Deliverables:

I will also need a report (ipynb) answering the question, "Why are our customers churning?" I want to see the analysis you did to answer my questions and lead to your findings. Please clearly call out the questions and answers you are analyzing. E.g. If you find that month-to-month customers churn more, I won't be surprised, but I am not getting rid of that plan. The fact that they churn is not because they can, it's because they can and they are motivated to do so. I want some insight into why they are motivated to do so. I realize you will not be able to do a full causal experiment, but I hope to see some solid evidence of your conclusions.

I will need you to deliver to me a csv with the customer_id, probability of churn, and the prediction of churn (1=churn, 0=not_churn). I would also like a single goolgle slide that illustrates how your model works, including the features being used, so that I can deliver this to the SLT when they come with questions about how these values were derived. Please make sure you include how likely your model is to give a high probability of churn when churn doesn't occur, to give a low probability of churn when churn occurs, and to accurately predict churn.

Finally, our development team will need a .py file that will take in a new dataset, (in the exact same form of the one you acquired from telco_churn.customers) and perform all the transformations necessary to run the model you have developed on this new dataset to provide probabilities and predictions.

Specification
Detailed instructions for each section are below.

In general, make sure you document your work. You don't need to explain what every line of code is doing, but you should explain what and why you are doing. For example, if you drop a feature from the dataset, you should explain why you decided to do so, or why that is a reasonable thing to do. If you transform the data in a column, you should explain why you are making that transformation.

In addition, you should not present numers in isolation. If your code outputs a number, be sure you give some context to the number.

### Specific Deliverables:

- a jupyter notebook where your work takes place
- a csv file that predicts churn for each customer
- a python script that prepares data such that it can be fed into your model
- a google slide summarizing your model
- a README.md file that contains a link to your google slides presentation, and instructions for how to use your python script(s)

# Acquisition
Get the data from the customers table from the telco_churn database on the codeup data science database server.

You may wish to join some tables as part of your query.
This data should end up in a pandas data frame.

In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn import tree

import graphviz
from graphviz import Graph

import env

In [2]:
def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

def get_telco_data():
    return pd.read_sql('SELECT c.*, ct.contract_type, ist.internet_service_type, pt.payment_type\
    FROM customers as c\
    JOIN contract_types as ct USING (contract_type_id)\
    JOIN internet_service_types as ist USING (internet_service_type_id)\
    JOIN payment_types as pt USING (payment_type_id);', get_connection('telco_churn'))

Write a function, peekatdata(dataframe), that takes a dataframe as input and computes and returns the following:

- creates dataframe object head_df (df of the first 5 rows) and prints contents to screen
- creates dataframe object tail_df (df of the last 5 rows) and prints contents to screen
- creates tuple object shape_tuple (tuple of (nrows, ncols)) and prints tuple to screen
- creates dataframe object describe_df (summary statistics of all numeric variables) and prints contents to screen.
- prints to screen the information about a DataFrame including the index dtype and column dtypes, non-null values and memory usage.

In [3]:
def peekatdata(df):
    Head_df = df.head(5)
    print('Header:  \n')
    print(Head_df)
    print('Tail:  \n')
    Tail_df = df.tail(5)
    print(Tail_df)
    print('Shape:  \n')
    Shape_tuple = df.shape
    print(Shape_tuple)
    print('Describe:  \n')
    Describe_df = df.describe()
    print(Describe_df)
    print('Info:  \n')
    print(df.info())
    return

In [4]:
df = get_telco_data()
peekatdata(df)

Header:

  customer_id  gender  senior_citizen partner dependents  tenure  \
0  0003-MKNFE    Male               0      No         No       9
1  0013-MHZWF  Female               0      No        Yes       9
2  0015-UOCOJ  Female               1      No         No       7
3  0023-HGHWL    Male               1      No         No       1
4  0032-PGELS  Female               0     Yes        Yes       1

  phone_service    multiple_lines  internet_service_type_id online_security  \
0           Yes               Yes                         1              No
1           Yes                No                         1              No
2           Yes                No                         1             Yes
3            No  No phone service                         1              No
4            No  No phone service                         1             Yes

             ...             streaming_movies contract_type_id  \
0            ...                          Yes                1
1            ...                          Yes                1
2            ...                           No                1
3            ...                           No                1
4            ...                           No                1

  paperless_billing payment_type_id monthly_charges  total_charges churn  \
0                No               2            59.9          542.4    No
1               Yes               4            69.4         571.45    No
2               Yes               1            48.2         340.35    No
3               Yes               1            25.1           25.1   Yes
4                No               3            30.5           30.5   Yes

    contract_type  internet_service_type               payment_type
0  Month-to-month                    DSL               Mailed check
1  Month-to-month                    DSL    Credit card (automatic)
2  Month-to-month                    DSL           Electronic check
3  Month-to-month                    DSL           Electronic check
4  Month-to-month                    DSL  Bank transfer (automatic)

[5 rows x 24 columns]
Tail:

     customer_id  gender  senior_citizen partner dependents  tenure  \
7038  9950-MTGYX    Male               0     Yes        Yes      28
7039  9953-ZMKSM    Male               0      No         No      63
7040  9964-WBQDJ  Female               0     Yes         No      71
7041  9972-EWRJS  Female               0     Yes        Yes      67
7042  9975-GPKZU    Male               0     Yes        Yes      46

     phone_service multiple_lines  internet_service_type_id  \
7038           Yes             No                         3
7039           Yes            Yes                         3
7040           Yes            Yes                         3
7041           Yes             No                         3
7042           Yes             No                         3

          online_security            ...                 streaming_movies  \
7038  No internet service            ...              No internet service
7039  No internet service            ...              No internet service
7040  No internet service            ...              No internet service
7041  No internet service            ...              No internet service
7042  No internet service            ...              No internet service

     contract_type_id paperless_billing payment_type_id monthly_charges  \
7038                3               Yes               4           20.30
7039                3                No               2           25.25
7040                3               Yes               4           24.40
7041                3               Yes               3           19.25
7042                3                No               4           19.75

      total_charges churn  contract_type  internet_service_type  \
7038         487.95    No       Two year                   None
7039         1559.3    No       Two year                   None
7040         1725.4    No       Two year                   None
7041         1372.9    No       Two year                   None
7042          856.5    No       Two year                   None

                   payment_type
7038    Credit card (automatic)
7039               Mailed check
7040    Credit card (automatic)
7041  Bank transfer (automatic)
7042    Credit card (automatic)

[5 rows x 24 columns]
Shape:

(7043, 24)
Describe:

       senior_citizen       tenure  internet_service_type_id  \
count     7043.000000  7043.000000               7043.000000
mean         0.162147    32.371149                  1.872923
std          0.368612    24.559481                  0.737796
min          0.000000     0.000000                  1.000000
25%          0.000000     9.000000                  1.000000
50%          0.000000    29.000000                  2.000000
75%          0.000000    55.000000                  2.000000
max          1.000000    72.000000                  3.000000

       contract_type_id  payment_type_id  monthly_charges
count       7043.000000      7043.000000      7043.000000
mean           1.690473         2.315633        64.761692
std            0.833755         1.148907        30.090047
min            1.000000         1.000000        18.250000
25%            1.000000         1.000000        35.500000
50%            1.000000         2.000000        70.350000
75%            2.000000         3.000000        89.850000
max            3.000000         4.000000       118.750000
Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 24 columns):
customer_id                 7043 non-null object
gender                      7043 non-null object
senior_citizen              7043 non-null int64
partner                     7043 non-null object
dependents                  7043 non-null object
tenure                      7043 non-null int64
phone_service               7043 non-null object
multiple_lines              7043 non-null object
internet_service_type_id    7043 non-null int64
online_security             7043 non-null object
online_backup               7043 non-null object
device_protection           7043 non-null object
tech_support                7043 non-null object
streaming_tv                7043 non-null object
streaming_movies            7043 non-null object
contract_type_id            7043 non-null int64
paperless_billing           7043 non-null object
payment_type_id             7043 non-null int64
monthly_charges             7043 non-null float64
total_charges               7043 non-null object
churn                       7043 non-null object
contract_type               7043 non-null object
internet_service_type       7043 non-null object
payment_type                7043 non-null object
dtypes: float64(1), int64(5), object(18)
memory usage: 1.3+ MB
None

# Data Prep

Write a function, df_value_counts(dataframe), that takes a dataframe as input and computes and returns the values by frequency for each column. The function should decide whether or not to bin the data for the value counts.

In [5]:
# Need to update with decision to bin.  Function below will give us the features with more than 10 different options, which will be the features we bin.
def df_value_counts(dataframe):
    df_cols = dataframe.columns
    for col in df_cols:
        print('-----%s-----' %col)
        print(df[col].value_counts())
        
df_value_counts(df)

-----customer_id-----
9451-LPGOO    1
8739-WWKDU    1
8805-JNRAZ    1
1832-PEUTS    1
4003-OCTMP    1
4378-MYPGO    1
4154-AQUGT    1
1414-YADCW    1
7120-RFMVS    1
3146-MSEGF    1
1206-EHBDD    1
2595-KIWPV    1
2898-MRKPI    1
5384-ZTTWP    1
8207-DMRVL    1
3571-RFHAR    1
5445-UTODQ    1
8878-RYUKI    1
4751-ERMAN    1
4704-ERYFC    1
9617-UDPEU    1
0655-RBDUG    1
4592-IWTJI    1
3223-WZWJM    1
0422-OHQHQ    1
8775-LHDJH    1
9348-ROUAI    1
2739-CACDQ    1
7797-EJMDP    1
2293-IJWPS    1
             ..
4415-IJZTP    1
3446-QDSZF    1
6728-WYQBC    1
0322-CHQRU    1
2754-VDLTR    1
3244-CQPHU    1
7379-POKDZ    1
3445-HXXGF    1
0380-NEAVX    1
6242-MBHPK    1
5095-ETBRJ    1
5956-YHHRX    1
1047-RNXZV    1
5696-JVVQY    1
2181-TIDSV    1
3703-KBKZP    1
3798-EPWRR    1
3199-XGZCY    1
0725-CXOTM    1
9824-BEMCV    1
4328-VUFWD    1
6898-RBTLU    1
3452-SRFEG    1
9560-ARGQJ    1
5394-SVGJV    1
1625-JAIIY    1
9281-CEDRU    1
7503-QQRVF    1
5973-EJGDP    1
4853-OITSN    1
Name: customer_id, Length: 7043, dtype: int64
-----gender-----
Male      3555
Female    3488
Name: gender, dtype: int64
-----senior_citizen-----
0    5901
1    1142
Name: senior_citizen, dtype: int64
-----partner-----
No     3641
Yes    3402
Name: partner, dtype: int64
-----dependents-----
No     4933
Yes    2110
Name: dependents, dtype: int64
-----tenure-----
1     613
72    362
2     238
3     200
4     176
71    170
5     133
7     131
8     123
70    119
9     119
12    117
10    116
6     110
13    109
68    100
15     99
11     99
67     98
18     97
69     95
24     94
22     90
66     89
35     88
17     87
23     85
64     80
56     80
16     80
     ...
20     71
62     70
41     70
53     70
32     69
54     68
47     68
50     68
51     68
58     67
49     66
43     65
42     65
31     65
34     65
37     65
57     65
55     64
40     64
48     64
33     64
21     63
45     61
59     60
38     59
28     57
39     56
44     51
36     50
0      11
Name: tenure, Length: 73, dtype: int64
-----phone_service-----
Yes    6361
No      682
Name: phone_service, dtype: int64
-----multiple_lines-----
No                  3390
Yes                 2971
No phone service     682
Name: multiple_lines, dtype: int64
-----internet_service_type_id-----
2    3096
1    2421
3    1526
Name: internet_service_type_id, dtype: int64
-----online_security-----
No                     3498
Yes                    2019
No internet service    1526
Name: online_security, dtype: int64
-----online_backup-----
No                     3088
Yes                    2429
No internet service    1526
Name: online_backup, dtype: int64
-----device_protection-----
No                     3095
Yes                    2422
No internet service    1526
Name: device_protection, dtype: int64
-----tech_support-----
No                     3473
Yes                    2044
No internet service    1526
Name: tech_support, dtype: int64
-----streaming_tv-----
No                     2810
Yes                    2707
No internet service    1526
Name: streaming_tv, dtype: int64
-----streaming_movies-----
No                     2785
Yes                    2732
No internet service    1526
Name: streaming_movies, dtype: int64
-----contract_type_id-----
1    3875
3    1695
2    1473
Name: contract_type_id, dtype: int64
-----paperless_billing-----
Yes    4171
No     2872
Name: paperless_billing, dtype: int64
-----payment_type_id-----
1    2365
2    1612
3    1544
4    1522
Name: payment_type_id, dtype: int64
-----monthly_charges-----
20.05     61
19.85     45
19.90     44
19.95     44
19.65     43
19.70     43
20.00     43
19.55     40
20.15     40
19.75     39
20.25     39
20.35     38
19.80     38
20.10     37
19.60     37
20.20     35
19.50     32
20.45     31
19.40     31
20.40     30
20.50     28
19.45     28
20.30     28
20.55     27
19.35     25
19.30     24
20.65     23
25.25     20
25.10     19
19.25     18
          ..
112.55     1
56.45      1
63.05      1
78.15      1
48.90      1
35.35      1
48.15      1
114.20     1
77.65      1
46.10      1
52.15      1
23.45      1
48.65      1
39.15      1
33.90      1
36.65      1
91.80      1
73.10      1
101.60     1
47.80      1
99.60      1
81.75      1
82.10      1
59.25      1
114.85     1
114.75     1
58.70      1
31.65      1
68.90      1
76.80      1
Name: monthly_charges, Length: 1585, dtype: int64
-----total_charges-----
           11
20.2       11
19.75       9
19.9        8
20.05       8
19.65       8
19.55       7
45.3        7
20.25       6
20.15       6
19.45       6
20.45       5
20.3        5
19.3        4
19.4        4
69.95       4
19.95       4
49.9        4
74.7        4
69.9        4
69.65       4
19.5        4
19.85       4
20.4        4
20.35       4
19.2        4
44          4
44.4        4
69.6        4
20.5        4
           ..
113.95      1
1863.8      1
2939.8      1
378.6       1
875.35      1
55.4        1
571.75      1
3030.6      1
1071.4      1
5742.9      1
5295.7      1
2319.8      1
38.25       1
3953.15     1
690.5       1
4913.3      1
1682.05     1
533.5       1
3541.1      1
1474.35     1
1806.35     1
110.15      1
4801.1      1
590.35      1
4492.9      1
2606.35     1
4872.35     1
4226.7      1
3270.25     1
5398.6      1
Name: total_charges, Length: 6531, dtype: int64
-----churn-----
No     5174
Yes    1869
Name: churn, dtype: int64
-----contract_type-----
Month-to-month    3875
Two year          1695
One year          1473
Name: contract_type, dtype: int64
-----internet_service_type-----
Fiber optic    3096
DSL            2421
None           1526
Name: internet_service_type, dtype: int64
-----payment_type-----
Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: payment_type, dtype: int64

In [6]:
def df_value_counts_bin(dataframe):
    df_cols = dataframe.columns
    features_to_bin = []
    for col in df_cols:
#         print('-----%s-----' %col)
#         print(df[col].value_counts())
        if df[col].value_counts().count() > 10:
            features_to_bin.append(col)
        print(features_to_bin[-1:])
        
df_value_counts_bin(df)

['customer_id']
['customer_id']
['customer_id']
['customer_id']
['customer_id']
['tenure']
['tenure']
['tenure']
['tenure']
['tenure']
['tenure']
['tenure']
['tenure']
['tenure']
['tenure']
['tenure']
['tenure']
['tenure']
['monthly_charges']
['total_charges']
['total_charges']
['total_charges']
['total_charges']
['total_charges']

### Handle Missing Values

Explore the data and see if there are any missing values.

Write a function that accepts a dataframe and returns the names of the columns that have missing values, and the percent of missing values in each column that has missing values.

In [7]:
def missing_values(dataframe):
    df_cols = df.columns
    col_name = []
    null_values = []
    null_percents = []
    for col in df_cols:
        value = df[col].isnull().sum()
        null_percent = value / df[col].count()
        col_name.append(col)
        null_values.append(value)
        null_percents.append(null_percent)

    null_tuples = list(zip(col_name, null_values, null_percents))
    null_df = pd.DataFrame(null_tuples, columns = ['Feature', 'Null_Count', 'Null_Percent'])

    print(type(null_df))
    print(null_df)  
    
missing_values(df)

<class 'pandas.core.frame.DataFrame'>
                     Feature  Null_Count  Null_Percent
0                customer_id           0           0.0
1                     gender           0           0.0
2             senior_citizen           0           0.0
3                    partner           0           0.0
4                 dependents           0           0.0
5                     tenure           0           0.0
6              phone_service           0           0.0
7             multiple_lines           0           0.0
8   internet_service_type_id           0           0.0
9            online_security           0           0.0
10             online_backup           0           0.0
11         device_protection           0           0.0
12              tech_support           0           0.0
13              streaming_tv           0           0.0
14          streaming_movies           0           0.0
15          contract_type_id           0           0.0
16         paperless_billing           0           0.0
17           payment_type_id           0           0.0
18           monthly_charges           0           0.0
19             total_charges           0           0.0
20                     churn           0           0.0
21             contract_type           0           0.0
22     internet_service_type           0           0.0
23              payment_type           0           0.0

In [8]:
missing_values(df)

<class 'pandas.core.frame.DataFrame'>
                     Feature  Null_Count  Null_Percent
0                customer_id           0           0.0
1                     gender           0           0.0
2             senior_citizen           0           0.0
3                    partner           0           0.0
4                 dependents           0           0.0
5                     tenure           0           0.0
6              phone_service           0           0.0
7             multiple_lines           0           0.0
8   internet_service_type_id           0           0.0
9            online_security           0           0.0
10             online_backup           0           0.0
11         device_protection           0           0.0
12              tech_support           0           0.0
13              streaming_tv           0           0.0
14          streaming_movies           0           0.0
15          contract_type_id           0           0.0
16         paperless_billing           0           0.0
17           payment_type_id           0           0.0
18           monthly_charges           0           0.0
19             total_charges           0           0.0
20                     churn           0           0.0
21             contract_type           0           0.0
22     internet_service_type           0           0.0
23              payment_type           0           0.0

The function below will sort each column and output the head and tail for that column.  This will let us see if there's something fishy about any of data in each column.

In [9]:
def sort_col_val(dataframe):
    df_cols = dataframe.columns
    for col in df_cols:
        print('Sorted by ' + str(col) + ':')
        print('Head:')
        print(df[[col]].sort_values(by=[col]).head().T)
        print(' ')
        print('Tail: ')
        print(df[[col]].sort_values(by=[col]).tail().T)
        print('-----')

In [10]:
sort_col_val(df)

Sorted by customer_id:
Head:
                   1223        0           2421        2422        2423
customer_id  0002-ORFBO  0003-MKNFE  0004-TLHLJ  0011-IGKFF  0013-EXCHZ

Tail:
                   1792        4548        1222        2419        2420
customer_id  9987-LUTYD  9992-RRAMN  9992-UJOEL  9993-LHIEB  9995-HOTOH
-----
Sorted by gender:
Head:
          3521    5577    2895    2897    2899
gender  Female  Female  Female  Female  Female

Tail:
        3095  3094  3092  3122  7042
gender  Male  Male  Male  Male  Male
-----
Sorted by senior_citizen:
Head:
                0     4703  4702  4701  4700
senior_citizen     0     0     0     0     0

Tail:
                4542  4540  4537  2259  5117
senior_citizen     1     1     1     1     1
-----
Sorted by partner:
Head:
        0    3776 3775 3773 3772
partner   No   No   No   No   No

Tail:
        4104 1385 4107 4087 7042
partner  Yes  Yes  Yes  Yes  Yes
-----
Sorted by dependents:
Head:
           0    4065 4063 4062 4061
dependents   No   No   No   No   No

Tail:
           4631 846  2369 5563 7042
dependents  Yes  Yes  Yes  Yes  Yes
-----
Sorted by tenure:
Head:
        6143  6569  6895  2132  6615
tenure     0     0     0     0     0

Tail:
        1811  1950  5193  6750  5139
tenure    72    72    72    72    72
-----
Sorted by phone_service:
Head:
              1930 1744 1739 723  725
phone_service   No   No   No   No   No

Tail:
              2797 2796 2795 2793 7042
phone_service  Yes  Yes  Yes  Yes  Yes
-----
Sorted by multiple_lines:
Head:
               3521 4216 4213 4211 4207
multiple_lines   No   No   No   No   No

Tail:
               4149 4151 4156 4132 0
multiple_lines  Yes  Yes  Yes  Yes  Yes
-----
Sorted by internet_service_type_id:
Head:
                          0     1611  1612  1613  1614
internet_service_type_id     1     1     1     1     1

Tail:
                          6020  6019  6018  6027  7042
internet_service_type_id     3     3     3     3     3
-----
Sorted by online_security:
Head:
                0    3294 3295 3296 3297
online_security   No   No   No   No   No

Tail:
                3438 3440 3444 3354 3521
online_security  Yes  Yes  Yes  Yes  Yes
-----
Sorted by online_backup:
Head:
              0    3125 3127 3130 3131
online_backup   No   No   No   No   No

Tail:
              5423 5424 3824 3818 3521
online_backup  Yes  Yes  Yes  Yes  Yes
-----
Sorted by device_protection:
Head:
                  0    3160 3161 3162 3163
device_protection   No   No   No   No   No

Tail:
                  5428 5429 5430 5432 1869
device_protection  Yes  Yes  Yes  Yes  Yes
-----
Sorted by tech_support:
Head:
             0    3283 3284 3285 3286
tech_support   No   No   No   No   No

Tail:
             487  4487 486  4465 2259
tech_support  Yes  Yes  Yes  Yes  Yes
-----
Sorted by streaming_tv:
Head:
             0    2886 2888 2889 2890
streaming_tv   No   No   No   No   No

Tail:
             5239 5240 5241 5233 3521
streaming_tv  Yes  Yes  Yes  Yes  Yes
-----
Sorted by streaming_movies:
Head:
                 3521 2904 2911 2913 2914
streaming_movies   No   No   No   No   No

Tail:
                 5223 5224 5225 3645 0
streaming_movies  Yes  Yes  Yes  Yes  Yes
-----
Sorted by contract_type_id:
Head:
                  0     3386  3385  3384  3383
contract_type_id     1     1     1     1     1

Tail:
                  1923  1922  1921  1919  7042
contract_type_id     3     3     3     3     3
-----
Sorted by paperless_billing:
Head:
                  0    4558 4560 4562 4564
paperless_billing   No   No   No   No   No

Tail:
                  3814 3813 3812 3828 3521
paperless_billing  Yes  Yes  Yes  Yes  Yes
-----
Sorted by payment_type_id:
Head:
                 3521  4092  4089  4087  4086
payment_type_id     1     1     1     1     1

Tail:
                 5029  5030  1535  5024  7042
payment_type_id     4     4     4     4     4
-----
Sorted by monthly_charges:
Head:
                  6291  7030   6455  6443  7037
monthly_charges  18.25  18.4  18.55  18.7  18.7

Tail:
                   4993   5333   4870    5473    5407
monthly_charges  118.35  118.6  118.6  118.65  118.75
-----
Sorted by total_charges:
Head:
              2048 6143 1949 1878 6615
total_charges

Tail:
                 6341   6261    3702   3392   4349
total_charges  997.75  998.1  999.45  999.8  999.9
-----
Sorted by churn:
Head:
      0    4889 4888 4887 4886
churn   No   No   No   No   No

Tail:
      3870 3871 3872 3858 2966
churn  Yes  Yes  Yes  Yes  Yes
-----
Sorted by contract_type:
Head:
                         0               3386            3385            3384  \
contract_type  Month-to-month  Month-to-month  Month-to-month  Month-to-month

                         3383
contract_type  Month-to-month

Tail:
                   1923      1922      1921      1919      7042
contract_type  Two year  Two year  Two year  Two year  Two year
-----
Sorted by internet_service_type:
Head:
                      0    1611 1612 1613 1614
internet_service_type  DSL  DSL  DSL  DSL  DSL

Tail:
                       6020  6019  6018  6027  7042
internet_service_type  None  None  None  None  None
-----
Sorted by payment_type:
Head:
                                   1944                       5415  \
payment_type  Bank transfer (automatic)  Bank transfer (automatic)

                                   1316                       5416  \
payment_type  Bank transfer (automatic)  Bank transfer (automatic)

                                   2626
payment_type  Bank transfer (automatic)

Tail:
                      5831          5830          976           5840  \
payment_type  Mailed check  Mailed check  Mailed check  Mailed check

                      0
payment_type  Mailed check
-----

Looking at the above output, something seems odd about the lower end of total_charges.  Below, I am checking for values that are whitespace, or ' '.  We have 11 rows without an actual amount in total_charges.

In [11]:
df['total_charges'].replace(' ', (df['monthly_charges'] * df['tenure']), inplace=True)

In [12]:
df.loc[(df['total_charges'] == ' ')].T

Empty DataFrame
Columns: []
Index: [customer_id, gender, senior_citizen, partner, dependents, tenure, phone_service, multiple_lines, internet_service_type_id, online_security, online_backup, device_protection, tech_support, streaming_tv, streaming_movies, contract_type_id, paperless_billing, payment_type_id, monthly_charges, total_charges, churn, contract_type, internet_service_type, payment_type]

We are now showing no empty cells.  Let's do a value_count to if anything strange is in our list now.  They are showing as 0.0 now.  Let's convert the total_charges column to a float and then drop these rows.

In [13]:
df_value_counts(df)

-----customer_id-----
9451-LPGOO    1
8739-WWKDU    1
8805-JNRAZ    1
1832-PEUTS    1
4003-OCTMP    1
4378-MYPGO    1
4154-AQUGT    1
1414-YADCW    1
7120-RFMVS    1
3146-MSEGF    1
1206-EHBDD    1
2595-KIWPV    1
2898-MRKPI    1
5384-ZTTWP    1
8207-DMRVL    1
3571-RFHAR    1
5445-UTODQ    1
8878-RYUKI    1
4751-ERMAN    1
4704-ERYFC    1
9617-UDPEU    1
0655-RBDUG    1
4592-IWTJI    1
3223-WZWJM    1
0422-OHQHQ    1
8775-LHDJH    1
9348-ROUAI    1
2739-CACDQ    1
7797-EJMDP    1
2293-IJWPS    1
             ..
4415-IJZTP    1
3446-QDSZF    1
6728-WYQBC    1
0322-CHQRU    1
2754-VDLTR    1
3244-CQPHU    1
7379-POKDZ    1
3445-HXXGF    1
0380-NEAVX    1
6242-MBHPK    1
5095-ETBRJ    1
5956-YHHRX    1
1047-RNXZV    1
5696-JVVQY    1
2181-TIDSV    1
3703-KBKZP    1
3798-EPWRR    1
3199-XGZCY    1
0725-CXOTM    1
9824-BEMCV    1
4328-VUFWD    1
6898-RBTLU    1
3452-SRFEG    1
9560-ARGQJ    1
5394-SVGJV    1
1625-JAIIY    1
9281-CEDRU    1
7503-QQRVF    1
5973-EJGDP    1
4853-OITSN    1
Name: customer_id, Length: 7043, dtype: int64
-----gender-----
Male      3555
Female    3488
Name: gender, dtype: int64
-----senior_citizen-----
0    5901
1    1142
Name: senior_citizen, dtype: int64
-----partner-----
No     3641
Yes    3402
Name: partner, dtype: int64
-----dependents-----
No     4933
Yes    2110
Name: dependents, dtype: int64
-----tenure-----
1     613
72    362
2     238
3     200
4     176
71    170
5     133
7     131
8     123
70    119
9     119
12    117
10    116
6     110
13    109
68    100
15     99
11     99
67     98
18     97
69     95
24     94
22     90
66     89
35     88
17     87
23     85
64     80
56     80
16     80
     ...
20     71
62     70
41     70
53     70
32     69
54     68
47     68
50     68
51     68
58     67
49     66
43     65
42     65
31     65
34     65
37     65
57     65
55     64
40     64
48     64
33     64
21     63
45     61
59     60
38     59
28     57
39     56
44     51
36     50
0      11
Name: tenure, Length: 73, dtype: int64
-----phone_service-----
Yes    6361
No      682
Name: phone_service, dtype: int64
-----multiple_lines-----
No                  3390
Yes                 2971
No phone service     682
Name: multiple_lines, dtype: int64
-----internet_service_type_id-----
2    3096
1    2421
3    1526
Name: internet_service_type_id, dtype: int64
-----online_security-----
No                     3498
Yes                    2019
No internet service    1526
Name: online_security, dtype: int64
-----online_backup-----
No                     3088
Yes                    2429
No internet service    1526
Name: online_backup, dtype: int64
-----device_protection-----
No                     3095
Yes                    2422
No internet service    1526
Name: device_protection, dtype: int64
-----tech_support-----
No                     3473
Yes                    2044
No internet service    1526
Name: tech_support, dtype: int64
-----streaming_tv-----
No                     2810
Yes                    2707
No internet service    1526
Name: streaming_tv, dtype: int64
-----streaming_movies-----
No                     2785
Yes                    2732
No internet service    1526
Name: streaming_movies, dtype: int64
-----contract_type_id-----
1    3875
3    1695
2    1473
Name: contract_type_id, dtype: int64
-----paperless_billing-----
Yes    4171
No     2872
Name: paperless_billing, dtype: int64
-----payment_type_id-----
1    2365
2    1612
3    1544
4    1522
Name: payment_type_id, dtype: int64
-----monthly_charges-----
20.05     61
19.85     45
19.90     44
19.95     44
19.65     43
19.70     43
20.00     43
19.55     40
20.15     40
19.75     39
20.25     39
20.35     38
19.80     38
20.10     37
19.60     37
20.20     35
19.50     32
20.45     31
19.40     31
20.40     30
20.50     28
19.45     28
20.30     28
20.55     27
19.35     25
19.30     24
20.65     23
25.25     20
25.10     19
19.25     18
          ..
112.55     1
56.45      1
63.05      1
78.15      1
48.90      1
35.35      1
48.15      1
114.20     1
77.65      1
46.10      1
52.15      1
23.45      1
48.65      1
39.15      1
33.90      1
36.65      1
91.80      1
73.10      1
101.60     1
47.80      1
99.60      1
81.75      1
82.10      1
59.25      1
114.85     1
114.75     1
58.70      1
31.65      1
68.90      1
76.80      1
Name: monthly_charges, Length: 1585, dtype: int64
-----total_charges-----
0.0        11
20.2       11
19.75       9
19.65       8
20.05       8
19.9        8
45.3        7
19.55       7
20.25       6
19.45       6
20.15       6
20.45       5
20.3        5
44          4
19.4        4
19.85       4
20.35       4
70.6        4
69.95       4
19.95       4
49.9        4
20.5        4
69.9        4
19.5        4
74.7        4
20.4        4
69.6        4
75.3        4
19.2        4
50.15       4
           ..
1401.4      1
2723.4      1
1992.55     1
2203.7      1
533.9       1
4492.9      1
590.35      1
4801.1      1
5295.7      1
7397        1
1776.95     1
5688.45     1
893.2       1
6786.4      1
7677.4      1
84.75       1
2964        1
5742.9      1
2319.8      1
110.15      1
38.25       1
3953.15     1
690.5       1
4913.3      1
1682.05     1
533.5       1
1071.4      1
3541.1      1
1806.35     1
620.75      1
Name: total_charges, Length: 6531, dtype: int64
-----churn-----
No     5174
Yes    1869
Name: churn, dtype: int64
-----contract_type-----
Month-to-month    3875
Two year          1695
One year          1473
Name: contract_type, dtype: int64
-----internet_service_type-----
Fiber optic    3096
DSL            2421
None           1526
Name: internet_service_type, dtype: int64
-----payment_type-----
Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: payment_type, dtype: int64

In [14]:
df['total_charges'] = df['total_charges'].convert_objects(convert_numeric=True)
df.dtypes

customer_id                  object
gender                       object
senior_citizen                int64
partner                      object
dependents                   object
tenure                        int64
phone_service                object
multiple_lines               object
internet_service_type_id      int64
online_security              object
online_backup                object
device_protection            object
tech_support                 object
streaming_tv                 object
streaming_movies             object
contract_type_id              int64
paperless_billing            object
payment_type_id               int64
monthly_charges             float64
total_charges               float64
churn                        object
contract_type                object
internet_service_type        object
payment_type                 object
dtype: object

Success!  Total_charges is now a float.  Let's drop the rows with 0.0.

In [15]:
df = df.drop(df[df.total_charges == 0].index)

In [16]:
df.sort_values(by=['total_charges']).head().T

,6145,6010,5989,6039,5589
customer_id,2967-MXRAV,9318-NKNFC,8992-CEUEN,9975-SKRNR,1423-BMPBQ
gender,Male,Male,Female,Male,Female
senior_citizen,0,0,0,0,0
partner,Yes,No,No,No,Yes
dependents,Yes,No,No,No,Yes
tenure,1,1,1,1,1
phone_service,Yes,Yes,Yes,Yes,Yes
multiple_lines,No,No,No,No,No
internet_service_type_id,3,3,3,3,3
online_security,No internet service,No internet service,No internet service,No internet service,No internet service
online_backup,No internet service,No internet service,No internet service,No internet service,No internet service
device_protection,No internet service,No internet service,No internet service,No internet service,No internet service
tech_support,No internet service,No internet service,No internet service,No internet service,No internet service
streaming_tv,No internet service,No internet service,No internet service,No internet service,No internet service
streaming_movies,No internet service,No internet service,No internet service,No internet service,No internet service
contract_type_id,2,1,1,1,1
paperless_billing,No,Yes,No,No,Yes
payment_type_id,2,2,1,2,2
monthly_charges,18.8,18.85,18.85,18.9,19
total_charges,18.8,18.85,18.85,18.9,19
churn,No,Yes,No,No,No
contract_type,One year,Month-to-month,Month-to-month,Month-to-month,Month-to-month
internet_service_type,None,None,None,None,None
payment_type,Mailed check,Mailed check,Electronic check,Mailed check,Mailed check

Let's create a feature that calculates estimated total_charges based on tenure * monthly_charges and gives us a percentage vs. the actual total_charges.  This will be used to check for data integrity issues.

In [17]:
df['percent_var_tc_from_act_tc'] = (df['monthly_charges'] * df['tenure']) / df['total_charges']

In [18]:
df.describe()

,senior_citizen,tenure,internet_service_type_id,contract_type_id,payment_type_id,monthly_charges,total_charges,percent_var_tc_from_act_tc
count,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000
mean,0.162400,32.421786,1.872582,1.688567,2.315557,64.798208,2283.300441,1.002311
std,0.368844,24.545260,0.737271,0.832934,1.149523,30.085974,2266.771362,0.051288
min,0.000000,1.000000,1.000000,1.000000,1.000000,18.250000,18.800000,0.635545
25%,0.000000,9.000000,1.000000,1.000000,1.000000,35.587500,401.450000,0.980813
50%,0.000000,29.000000,2.000000,1.000000,2.000000,70.350000,1397.475000,1.000000
75%,0.000000,55.000000,2.000000,2.000000,3.000000,89.862500,3794.737500,1.020881
max,1.000000,72.000000,3.000000,3.000000,4.000000,118.750000,8684.800000,1.450628

To make things a little clearer, let's reorganize the columns so the new columns created are closer to the columns they represent/interact with.

Document your takeaways. For each variable:

- should you remove the observations with a missing value for that variable?
- should you remove the variable altogether?
- is missing equivalent to 0 (or some other constant value) in the specific case of this variable?
- should you replace the missing values with a value it is most likely to represent (e.g. Are the missing values a - result of data integrity issues and should be replaced by the most likely value?)
- Handle the missing values in the way you recommended above.

Transform churn such that "yes" = 1 and "no" = 0

In [19]:
def encode_churn(df):
    encoder = LabelEncoder()
    encoder.fit(df.churn)
    return df.assign(churn_encoded = encoder.transform(df.churn))

In [20]:
df = encode_churn(df)

In [21]:
df.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,...,paperless_billing,payment_type_id,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type,percent_var_tc_from_act_tc,churn_encoded
0,0003-MKNFE,Male,0,No,No,9,Yes,Yes,1,No,...,No,2,59.9,542.40,No,Month-to-month,DSL,Mailed check,0.993916,0
1,0013-MHZWF,Female,0,No,Yes,9,Yes,No,1,No,...,Yes,4,69.4,571.45,No,Month-to-month,DSL,Credit card (automatic),1.093009,0
2,0015-UOCOJ,Female,1,No,No,7,Yes,No,1,Yes,...,Yes,1,48.2,340.35,No,Month-to-month,DSL,Electronic check,0.991332,0
3,0023-HGHWL,Male,1,No,No,1,No,No phone service,1,No,...,Yes,1,25.1,25.10,Yes,Month-to-month,DSL,Electronic check,1.000000,1
4,0032-PGELS,Female,0,Yes,Yes,1,No,No phone service,1,Yes,...,No,3,30.5,30.50,Yes,Month-to-month,DSL,Bank transfer (automatic),1.000000,1

Compute a new feature, tenure_year, that is a result of translating tenure from months to years.

In [22]:
def create_tenure_year(df):
    df[['tenure_year']] = df[['tenure']] / 12
    return df

In [23]:
create_tenure_year(df)

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,...,payment_type_id,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type,percent_var_tc_from_act_tc,churn_encoded,tenure_year
0,0003-MKNFE,Male,0,No,No,9,Yes,Yes,1,No,...,2,59.90,542.40,No,Month-to-month,DSL,Mailed check,0.993916,0,0.750000
1,0013-MHZWF,Female,0,No,Yes,9,Yes,No,1,No,...,4,69.40,571.45,No,Month-to-month,DSL,Credit card (automatic),1.093009,0,0.750000
2,0015-UOCOJ,Female,1,No,No,7,Yes,No,1,Yes,...,1,48.20,340.35,No,Month-to-month,DSL,Electronic check,0.991332,0,0.583333
3,0023-HGHWL,Male,1,No,No,1,No,No phone service,1,No,...,1,25.10,25.10,Yes,Month-to-month,DSL,Electronic check,1.000000,1,0.083333
4,0032-PGELS,Female,0,Yes,Yes,1,No,No phone service,1,Yes,...,3,30.50,30.50,Yes,Month-to-month,DSL,Bank transfer (automatic),1.000000,1,0.083333
5,0067-DKWBL,Male,1,No,No,2,Yes,No,1,Yes,...,1,49.25,91.10,Yes,Month-to-month,DSL,Electronic check,1.081229,1,0.166667
6,0076-LVEPS,Male,0,No,Yes,29,No,No phone service,1,Yes,...,2,45.00,1242.45,No,Month-to-month,DSL,Mailed check,1.050344,0,2.416667
7,0082-LDZUE,Male,0,No,No,1,Yes,No,1,No,...,2,44.30,44.30,No,Month-to-month,DSL,Mailed check,1.000000,0,0.083333
8,0096-BXERS,Female,0,Yes,No,6,Yes,Yes,1,No,...,1,50.35,314.55,No,Month-to-month,DSL,Electronic check,0.960420,0,0.500000
9,0096-FCPUF,Male,0,No,No,30,Yes,Yes,1,Yes,...,2,64.50,1888.45,No,Month-to-month,DSL,Mailed check,1.024650,0,2.500000
10,0106-GHRQR,Male,0,No,No,16,Yes,Yes,1,No,...,3,71.40,1212.10,No,Month-to-month,DSL,Bank transfer (automatic),0.942496,0,1.333333
11,0117-LFRMW,Male,0,Yes,Yes,37,No,No phone service,1,Yes,...,3,40.20,1448.80,Yes,Month-to-month,DSL,Bank transfer (automatic),1.026643,1,3.083333
12,0128-MKWSG,Female,0,No,Yes,26,No,No phone service,1,Yes,...,2,45.80,1147.00,No,Month-to-month,DSL,Mailed check,1.038187,0,2.166667
13,0156-FVPTA,Male,0,Yes,No,22,Yes,No,1,Yes,...,1,54.20,1152.70,Yes,Month-to-month,DSL,Electronic check,1.034441,1,1.833333
14,0191-ZHSKZ,Male,1,No,No,30,Yes,No,1,Yes,...,1,74.75,2111.30,No,Month-to-month,DSL,Electronic check,1.062142,0,2.500000
15,0212-ISBBF,Female,0,No,No,22,No,No phone service,1,No,...,1,50.35,1098.85,No,Month-to-month,DSL,Electronic check,1.008054,0,1.833333
16,0222-CNVPT,Male,1,No,No,52,No,No phone service,1,Yes,...,4,48.80,2555.05,No,Month-to-month,DSL,Credit card (automatic),0.993170,0,4.333333
17,0224-HJAPT,Male,0,No,No,5,Yes,Yes,1,No,...,1,47.15,223.15,Yes,Month-to-month,DSL,Electronic check,1.056464,1,0.416667
18,0224-RLWWD,Female,1,No,No,2,Yes,No,1,No,...,1,44.30,89.30,No,Month-to-month,DSL,Electronic check,0.992161,0,0.166667
19,0228-MAUWC,Male,0,No,No,19,Yes,Yes,1,No,...,1,59.55,1144.60,No,Month-to-month,DSL,Electronic check,0.988511,0,1.583333
20,0248-IPDFW,Female,0,No,No,1,Yes,Yes,1,No,...,1,50.10,50.10,No,Month-to-month,DSL,Electronic check,1.000000,0,0.083333
21,0257-KXZGU,Female,0,Yes,Yes,32,Yes,Yes,1,No,...,3,62.45,2045.55,No,Month-to-month,DSL,Bank transfer (automatic),0.976950,0,2.666667
22,0260-ZDLGK,Female,0,No,Yes,9,Yes,No,1,No,...,2,72.90,651.40,Yes,Month-to-month,DSL,Mailed check,1.007215,1,0.750000
23,0274-JKUJR,Male,0,Yes,Yes,7,No,No phone service,1,Yes,...,2,58.85,465.70,No,Month-to-month,DSL,Mailed check,0.884582,0,0.583333
24,0277-BKSQP,Male,0,Yes,Yes,8,Yes,No,1,No,...,1,54.40,475.10,No,Month-to-month,DSL,Electronic check,0.916018,0,0.666667
25,0282-NVSJS,Female,1,Yes,Yes,12,No,No phone service,1,No,...,2,29.30,355.90,No,Month-to-month,DSL,Mailed check,0.987918,0,1.000000
26,0285-INHLN,Male,0,Yes,Yes,27,Yes,No,1,Yes,...,4,54.75,1510.30,No,Month-to-month,DSL,Credit card (automatic),0.978779,0,2.250000
27,0289-IVARM,Female,0,No,No,35,Yes,No,1,Yes,...,1,60.55,1982.60,No,Month-to-month,DSL,Electronic check,1.068925,0,2.916667
28,0292-WEGCH,Female,0,Yes,Yes,54,Yes,Yes,1,No,...,1,86.20,4524.05,No,Month-to-month,DSL,Electronic check,1.028901,0,4.500000
29,0295-QVKPB,Male,0,No,No,5,Yes,No,1,No,...,4,63.95,318.10,No,Month-to-month,DSL,Credit card (automatic),1.005187,0,0.416667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7013,9537-JALFH,Male,0,Yes,Yes,69,Yes,No,3,No internet service,...,3,19.90,1356.70,No,Two year,None,Bank transfer (automatic),1.012088,0,5.750000
7014,9548-LERKT,Male,0,Yes,No,24,Yes,No,3,No internet service,...,2,19.75,483.15,No,Two year,None,Mailed check,0.981062,0,2.000000
7015,9565-AXSMR,Male,0,Yes,Yes,52,Yes,No,3,No internet service,...,2,19.20,1054.75,No,Two year,None,Mailed check,0.946575,0,4.333333
7016,9574-BOSMD,Male,0,Yes,Yes,68,Yes,Yes,3,No internet service,...,3,25.40,1620.20,No,Two year,None,Bank transfer (automatic),1.066041,0,5.666667
7017,9585-KKMFD,Male,0,Yes,Yes,41,Yes,No,3,No internet service,...,2,20.00,879.80,No,Two year,None,Mailed check,0.932030,0,3.416667
7018,9588-YRFHY,Male,0,No,No,49,Yes,No,3,No internet service,...,4,19.90,1022.60,No,Two year,None,Credit card (automatic),0.953550,0,4.083333
7019,9593-CVZKR,Female,0,Yes,Yes,56,Yes,Yes,3,No internet service,...,2,24.45,1385.85,No,Two year,None,Mailed check,0.987986,0,4.666667
7020,9624-EGDEQ,Female,0,No,No,37,Yes,No,3,No internet service,...,2,19.80,813.30,No,Two year,None,Mailed check,0.900775,0,3.083333
7021,9625-RZFUK,Male,0,Yes,Yes,63,Yes,No,3,No internet service,...,2,19.70,1275.85,No,Two year,None,Mailed check,0.972763,0,5.250000
7022,9631-RXVJM,Male,0,No,No,35,Yes,No,3,No internet service,...,2,19.25,677.90,No,Two year,None,Mailed check,0.993878,0,2.916667
7023,9646-NMHXE,Male,0,Yes,No,47,Yes,No,3,No internet service,...,2,19.65,973.10,No,Two year,None,Mailed check,0.949080,0,3.916667
7024,9648-BCHKM,Female,0,Yes,Yes,18,Yes,Yes,3,No internet service,...,4,24.65,471.35,No,Two year,None,Credit card (automatic),0.941339,0,1.500000
7025,9650-VBUOG,Male,0,Yes,Yes,38,Yes,Yes,3,No internet service,...,4,25.05,963.95,No,Two year,None,Credit card (automatic),0.987499,0,3.166667
7026,9661-JALZV,Female,0,No,No,58,Yes,Yes,3,No internet service,...,4,24.70,1519.00,No,Two year,None,Credit card (automatic),0.943120,0,4.833333
7027,9668-PUGNU,Male,0,Yes,No,71,Yes,Yes,3,No internet service,...,1,24.50,1816.20,No,Two year,None,Electronic check,0.957769,0,5.916667
7028,9710-NJERN,Female,0,No,No,39,Yes,No,3,No internet service,...,2,20.15,826.00,No,Two year,None,Mailed check,0.951392,0,3.250000
7029,9717-IOAAF,Male,0,No,Yes,27,Yes,Yes,3,No internet service,...,4,25.85,788.55,No,Two year,None,Credit card (automatic),0.885106,0,2.250000
7030,9764-REAFF,Female,0,Yes,No,59,Yes,No,3,No internet service,...,3,18.40,1057.85,No,Two year,None,Bank transfer (automatic),1.026232,0,4.916667
7031,9798-OPFEM,Female,0,No,No,46,Yes,No,3,No internet service,...,1,21.10,937.10,No,Two year,None,Electronic check,1.035749,0,3.833333
7032,9800-OUIGR,Male,0,Yes,Yes,66,Yes,No,3,No internet service,...,4,20.00,1374.20,No,Two year,None,Credit card (automatic),0.960559,0,5.500000
7033,9814-AOUDH,Male,0,No,No,53,Yes,No,3,No internet service,...,4,19.50,1050.50,No,Two year,None,Credit card (automatic),0.983817,0,4.416667
7034,9838-BFCQT,Male,0,Yes,Yes,72,Yes,Yes,3,No internet service,...,2,26.10,1851.45,No,Two year,None,Mailed check,1.014988,0,6.000000
7035,9916-AYHTC,Male,0,No,No,48,Yes,No,3,No internet service,...,4,19.85,916.00,No,Two year,None,Credit card (automatic),1.040175,0,4.000000
7036,9938-PRCVK,Female,0,Yes,Yes,41,Yes,No,3,No internet service,...,3,19.70,804.25,No,Two year,None,Bank transfer (automatic),1.004290,0,3.416667
7037,9945-PSVIP,Female,0,Yes,Yes,25,Yes,No,3,No internet service,...,2,18.70,383.65,No,Two year,None,Mailed check,1.218559,0,2.083333
7038,9950-MTGYX,Male,0,Yes,Yes,28,Yes,No,3,No internet service,...,4,20.30,487.95,No,Two year,None,Credit card (automatic),1.164873,0,2.333333
7039,9953-ZMKSM,Male,0,No,No,63,Yes,Yes,3,No internet service,...,2,25.25,1559.30,No,Two year,None,Mailed check,1.020169,0,5.250000
7040,9964-WBQDJ,Female,0,Yes,No,71,Yes,Yes,3,No internet service,...,4,24.40,1725.40,No,Two year,None,Credit card (automatic),1.004057,0,5.916667
7041,9972-EWRJS,Female,0,Yes,Yes,67,Yes,No,3,No internet service,...,3,19.25,1372.90,No,Two year,None,Bank transfer (automatic),0.939435,0,5.583333
7042,9975-GPKZU,Male,0,Yes,Yes,46,Yes,No,3,No internet service,...,4,19.75,856.50,No,Two year,None,Credit card (automatic),1.060712,0,3.833333

Figure out a way to capture the information contained in phone_service and multiple_lines into a single variable of dtype int. Write a function that will transform the data and place in a new column named phone_id.

Figure out a way to capture the information contained in dependents and partner into a single variable of dtype int. Transform the data and place in a new column household_type_id.

Figure out a way to capture the information contained in streaming_tv and streaming_movies into a single variable of dtype int. Transform the data and place in a new column streaming_services.

Figure out a way to capture the information contained in online_security and online_backup into a single variable of dtype int. Transform the data and place in a new column online_security_backup.

Split the data into train (70%) & test (30%) samples.

In [24]:
list(df)

['customer_id',
 'gender',
 'senior_citizen',
 'partner',
 'dependents',
 'tenure',
 'phone_service',
 'multiple_lines',
 'internet_service_type_id',
 'online_security',
 'online_backup',
 'device_protection',
 'tech_support',
 'streaming_tv',
 'streaming_movies',
 'contract_type_id',
 'paperless_billing',
 'payment_type_id',
 'monthly_charges',
 'total_charges',
 'churn',
 'contract_type',
 'internet_service_type',
 'payment_type',
 'percent_var_tc_from_act_tc',
 'churn_encoded',
 'tenure_year']

In [25]:
X = df.drop(['churn', 'churn_encoded'], axis=1)
y = df[['churn_encoded']]

In [26]:
train, test = train_test_split(df)

In [27]:
scaler = MinMaxScaler()

In [28]:
scaler.fit(X_train[['monthly_charges', 'total_charges']])

NameError: name 'X_train' is not defined

In [ ]:
train[['monthly_charges', 'total_charges']] = scaler.transform(train[['monthly_charges', 'total_charges']])
test[['monthly_charges', 'total_charges']] = scaler.transform(test[['monthly_charges', 'total_charges']])
train.head()

In [ ]:
X_train = train.drop(['churn', 'churn_encoded'], axis=1)
X_test = test.drop(['churn', 'churn_encoded'], axis=1)
y_train = train[['churn_encoded']]
y_test = test[['churn_encoded']]

Variable Encoding: encode the values in each non-numeric feature such that they are numeric.

Numeric Scaling: scale the monthly_charges and total_charges data. Make sure that the parameters for scaling are learned from the training data set.

# Data Exploration
Could the month in which they signed up influence churn? i.e. if a cohort is identified by tenure, is there a cohort or cohorts who have a higher rate of churn than other cohorts? (Plot the rate of churn on a line chart where x is the tenure and y is the rate of churn (customers churned/total customers)).

Are there features that indicate a higher propensity to churn? like type of internet service, type of phone service, online security and backup, senior citizens, paying more than x% of customers with the same services, etc.?

Is there a price threshold for specific services where the likelihood of churn increases once price for those services goes past that point? If so, what is that point for what service(s)?

If we looked at churn rate for month-to-month customers after the 12th month and that of 1-year contract customers after the 12th month, are those rates comparable?

Controlling for services (phone_id, internet_service_type_id, online_security_backup, device_protection, tech_support, and contract_type_id), is the mean monthly_charges of those who have churned significantly different from that of those who have not churned? (Use a t-test to answer this.)

How much of monthly_charges can be explained by internet_service_type? (hint: correlation test). State your hypotheses and your conclusion clearly.

How much of monthly_charges can be explained by internet_service_type + phone service type (0, 1, or multiple lines). State your hypotheses and your conclusion clearly.

Create visualizations exploring the interactions of variables (independent with independent and independent with dependent). The goal is to identify features that are related to churn, identify any data integrity issues, understand 'how the data works'. For example, we may find that all who have online services also have device protection. In that case, we don't need both of those. (The visualizations done in your analysis for questions 1-5 count towards the requirements below)

Each independent variable (except for customer_id) should be visualized in at least two plots, and at least 1 of those compares the independent variable with the dependent variable.

For each plot where x and y are independent variables, add a third dimension (where possible), of churn represented by color.

Use subplots when plotting the same type of chart but with different variables.

Adjust the axes as necessary to extract information from the visualizations (adjusting the x & y limits, setting the scale where needed, etc.)

Add annotations to at least 5 plots with a key takeaway from that plot.

Use plots from matplotlib, pandas and seaborn.

Use each of the following:

sns.heatmap
pd.crosstab (along with sns.heatmap)
pd.scatter_matrix
sns.barplot
sns.swarmplot
sns.pairplot
sns.jointplot
sns.relplot or plt.scatter
sns.distplot or plt.hist
sns.boxplot
plt.plot
Use at least one more type of plot that is not included in the list above.

What can you say about each variable's relationship to churn, based on your initial exploration? If there appears to be some sort of interaction or correlation, assume there is no causal relationship and brainstorm (and document) ideas on reasons there could be correlation.

Summarize your conclusions, provide clear answers to the specific questions, and summarize any takeaways/action plan from the work above.

# Modeling
Feature Selection: Are there any variables that seem to provide limited to no additional information? If so, remove them.

Train (fit, transform, evaluate) multiple different models, varying the model type and your meta-parameters.

In [ ]:
list(df)

In [ ]:
# def testing(X_df_train, X_df_test, y_df_train, y_df_test, string_criterion, min_sample_leaf_input, max_depth_input):
#     features = list(X_df_train)
    
#     print('Results using ' + str(string_criterion) + ' as the measure of impurity and ' + str(max_depth_input) + ' as max depth level and ' +str(min_sample_leaf_input) + ' as the min_sample_leaf.')
#     print('The features being used: ' + str(features))
#     print('-----')
model
def create_model(model_number, X_df_train, X_df_test, y_df_train, y_df_test, string_criterion, min_sample_leaf_input, max_depth_input):
    model_name = 'rf_' + str(model_number)
    model_name = RandomForestClassifier(bootstrap=True, 
                            class_weight=None, 
                            criterion=string_criterion,
                            min_samples_leaf=min_sample_leaf_input,
                            n_estimators=100,
                            max_depth=max_depth_input, 
                            random_state=123)
#     rf_name = str(rf) + model_name(-1:)
    return model_name

#     rf.fit(X_df_train, y_df_train)

#     y_df_pred = rf.predict(X_df_train)
#     print('Head of predicted on X_train:')
#     print(y_df_pred[0:5])
#     print('-----')

#     y_df_pred_proba = rf.predict_proba(X_df_train)
#     print('Head of probabilities on X_train:')
#     print(y_df_pred_proba[0:5])
#     print('-----')

#     print('Accuracy of rf classifier on training set: {:.8f}'.format(rf.score(X_df_train, y_df_train)))
#     print('-----')
    
#     cm = pd.DataFrame(confusion_matrix(y_df_train, y_df_pred),
#              columns=['Pred -', 'Pred +'], index=['Actual -', 'Actual +'])
    
#     print(cm)
#     print('-----')
    
#     print(classification_report(y_df_train, y_df_pred, digits=4))
#     print('-----')
    
#     y_df_pred_test = rf.predict(X_df_test)
#     y_df_pred_proba_test = rf.predict_proba(X_df_test)
#     print('Accuracy of RF classifier on train set: {:.6f}'
#      .format(rf.score(X_df_train, y_df_train)))
#     print('-----')

In [ ]:
create_model(3, X_rf_1_train, X_rf_1_test, y_train, y_test, 'entropy', 5, 6)

In [ ]:
Work on the one above to get it as a proper function.  Leave the one below alone.

In [ ]:
def analyze_rf_binomial(X_df_train, X_df_test, y_df_train, y_df_test, string_criterion, min_sample_leaf_input, max_depth_input):
    features = list(X_df_train)
    
    print('Results using ' + str(string_criterion) + ' as the measure of impurity and ' + str(max_depth_input) + ' as max depth level and ' +str(min_sample_leaf_input) + ' as the min_sample_leaf.')
    print('The features being used: ' + str(features))
    print('-----')

    rf = RandomForestClassifier(bootstrap=True, 
                            class_weight=None, 
                            criterion=string_criterion,
                            min_samples_leaf=min_sample_leaf_input,
                            n_estimators=100,
                            max_depth=max_depth_input, 
                            random_state=123)

    rf.fit(X_df_train, y_df_train)

    y_df_pred = rf.predict(X_df_train)
    print('Head of predicted on X_train:')
    print(y_df_pred[0:5])
    print('-----')

    y_df_pred_proba = rf.predict_proba(X_df_train)
    print('Head of probabilities on X_train:')
    print(y_df_pred_proba[0:5])
    print('-----')

    print('Accuracy of rf classifier on training set: {:.8f}'.format(rf.score(X_df_train, y_df_train)))
    print('-----')
    
    cm = pd.DataFrame(confusion_matrix(y_df_train, y_df_pred),
             columns=['Pred -', 'Pred +'], index=['Actual -', 'Actual +'])
    
    print(cm)
    print('-----')
    
    print(classification_report(y_df_train, y_df_pred, digits=4))
    print('-----')
    
    y_df_pred_test = rf.predict(X_df_test)
    y_df_pred_proba_test = rf.predict_proba(X_df_test)
    print('Accuracy of RF classifier on train set: {:.6f}'
     .format(rf.score(X_df_train, y_df_train)))
    print('-----')

In [ ]:
X_rf_1_train = X_train[['tenure_year', 'monthly_charges', 'internet_service_type_id']]
X_rf_1_test = X_test[['tenure_year', 'monthly_charges', 'internet_service_type_id']]

In [ ]:
analyze_rf_binomial(X_rf_1_train, X_rf_1_test, y_train, y_test, 'entropy', 5, 6)

In [ ]:
analyze_rf_binomial(X_rf_1_train, X_rf_1_test, y_train, y_test, 'entropy', 4, 15)

In [ ]:
def test_rf_binomial(X_df_train, X_df_test, y_df_train, y_df_test, string_criterion, min_sample_leaf_input, max_depth_input):
    features = list(X_df_train)
    
    print('Results using ' + str(string_criterion) + ' as the measure of impurity and ' + str(max_depth_input) + ' as max depth level and ' +str(min_sample_leaf_input) + ' as the min_sample_leaf.')
    print('The features being used: ' + str(features))
    print('-----')

    rf = RandomForestClassifier(bootstrap=True, 
                            class_weight=None, 
                            criterion=string_criterion,
                            min_samples_leaf=min_sample_leaf_input,
                            n_estimators=100,
                            max_depth=max_depth_input, 
                            random_state=123)

    rf.fit(X_df_train, y_df_train)

    y_df_pred = rf.predict(X_df_train)
    print('Head of predicted on X_train:')
    print(y_df_pred[0:5])
    print('-----')

    y_df_pred_proba = rf.predict_proba(X_df_train)
    print('Head of probabilities on X_train:')
    print(y_df_pred_proba[0:5])
    print('-----')

    print('Accuracy of rf classifier on training set: {:.8f}'.format(rf.score(X_df_train, y_df_train)))
    print('-----')
    
    cm = pd.DataFrame(confusion_matrix(y_df_train, y_df_pred),
             columns=['Pred -', 'Pred +'], index=['Actual -', 'Actual +'])
    
    print(cm)
    print('-----')
    
    print(classification_report(y_df_train, y_df_pred, digits=4))
    print('-----')
    
    y_df_pred_test = rf.predict(X_df_test)
    y_df_pred_proba_test = rf.predict_proba(X_df_test)

    print('-----')
    
    print('The results of running the model on the test sample:')
    
    cm = pd.DataFrame(confusion_matrix(y_df_train, y_df_pred),
             columns=['Pred -', 'Pred +'], index=['Actual -', 'Actual +'])
    print(cm)
    print('-----')
    
    print(classification_report(y_df_train, y_df_pred, digits=4))
    print('-----')
    
    y_df_pred_test = rf.predict(X_df_test)
    y_df_pred_proba_test = rf.predict_proba(X_df_test)
    print('Accuracy of Logistic Regression classifier on test set: {:.6f}'
     .format(rf.score(X_df_test, y_df_test)))
    print('-----')

In [ ]:
test_rf_binomial(X_rf_1_train, X_rf_1_test, y_train, y_test, 'entropy', 4, 7)

Compare evaluation metrics across all the models, and select the best performing model.

Test the final model (transform, evaluate) on your out-of-sample data (the testing data set). Summarize the performance. Interpret your results.